/**
    Custom CSS
**/

/* Global */
img {
    max-width: 100%;
}

code {
    display: inline-block;
}

pre code {
    white-space: pre;
    text-align: left;
}

/** INDEX **/

#distrib a {
    display: block;
    text-decoration: none;
    border-bottom: none;
}

#distrib .icon.major {
    cursor: pointer;
}

.icon img {
    width: 10em;
    height: 10em;
    padding: 2em;
}

#alert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em;

    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
